html, body {
    width: 100%;
    height: 100%;
    font-family: Arial;
    margin: 0;
    padding: 0;
    display: block;
    font-weight: 600;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #333333;
}

.info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #F7F7F7;
    width: 172px;
    height: 92px;
    margin: 14px;
    border-radius: 20px;
    padding: 14px;
}

.info:hover {
    background-color: #FFFFFF;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.50);
    box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.50);
}

.info .icon {
    -webkit-box-flex: 1;
    -ms-flex: 1 auto;
    flex: 1 auto;
    width: 24px;
    height: 24px;
}

.info-header {
    font-size: 14px;
}

.info-content {
    font-weight: normal;
    color: #858585;
    font-size: 12px;
    margin-top: 4px;
}

.icon-temp {
    background-image: url(./assets/icon_temperature@1x.png);
    height: 24px;
    width: 24px;
}

.icon-sun {
    background-image: url(./assets/icon_sun@1x.png);
    height: 24px;
    width: 24px;
}

.icon-temp-y {
    background-image: url(./assets/icon_temperature_2@1x.png);
    height: 24px;
    width: 24px;
}

.icon-temp-y-big {
    background-image: url(./assets/icon_temperature_2@2x.png);
    height: 48px;
    width: 48px;
}

.icon-sun-y {
    background-image: url(./assets/icon_sun_2@1x.png);
    height: 24px;
    width: 24px;
}

.icon-sun-w {
    background-image: url(./assets/icon_sun_min.png);
    height: 36px;
    width: 36px;
}

.icon-sun-big {
    background-image: url(./assets/icon_sun@2x.png);
    height: 48px;
    width: 48px;
}

.icon-scheduled {
    background-image: url(./assets/icon_scheduled@1x.png);
    height: 24px;
    width: 24px;;
}

.icon-menu {
    background-image: url(./assets/icon_list_m.png);
    height: 14px;
    width: 16px;
}

/*Header*/
header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 93px;
    border-bottom: 1px solid #F0F0F0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
}

header .logo {
    background-image: url(./assets/yaHome@1x.png);
    background-repeat: no-repeat;
    width: 108px;
    height: 27px;
    margin: 40px;
}

header span {
    margin: 14px;
    opacity: 0.6;
}

header .noopacity {
    opacity: 1;
}

/*Content*/
.content {
/ / width: 1350 px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.header {
    font-size: 18px;
    margin: 30px 40px 20px 40px;
}

/*main screen*/
.screen {
    background-image: url(./assets/bg@1x.png);
    height: 331px;
    width: 630px;
    margin-left: 40px;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.main-status {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 410px;
}

.scroll {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.arrow-container {
    position: relative;
    width: 0;
    height: 0;
    top: 91%;
    left: 46%;
}

.scroll .arrow {
    background-image: url(./assets/Icons/ArrowDouble/M.png);
    position: absolute;
    width: 16px;
    height: 16px;

}

.equip-status {
    overflow-y: scroll;
    padding: 5px;
    padding-right: 15px;
}

.greeting {
    font-size: 27px;
}

.name {
    padding: 25px;
}

.name .status {
    white-space: nowrap;
    font-size: 14px;
    font-weight: normal;
    padding-top: 4px;
}

.weather {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 25px;
}

.temp {
    padding-right: 18px;
}

.temp .where {
    opacity: 0.6;
    font-size: 14px;
    margin-bottom: 4px;
}

.temp .value {
    font-size: 36px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.temp .value div {
    margin-left: 5px;
}

.cloud-drizzle {
    background-image: url('./assets/cloud-drizzle.png');
    height: 26px;
    width: 26px;
}

/*Scenarios */
.scenarios {
    margin-left: 26px;
}

@media screen and (max-width: 1355px) {
    .scenarios {
        margin-left: 40px;
    }
}

.scenarios .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-right: 25px;
    margin-left: 0;
}

.arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    margin-top: 5px;
}

.arrows span {
    margin-left: 11px;
    margin-right: 11px;
}

.arrow-left-grey {
    background-image: url(./assets/Icons/arrow-left.svg);

}

.arrow-right-grey {
    background-image: url(./assets/Icons/arrow-left.svg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.arrow-right {
    background-image: url(./assets/Icons/arrow-right.svg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.scenarios .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 660px;
    margin-left: 20px;
}

.scenarios .content .info {
    height: 72px;
    margin: 0 14px 14px 0;
}

/*Favorite*/
.favorite {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    margin-top: -4px;
}

.favorite .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-right: 35px;

}

.favorite .header .text {
    margin: 5px 9px 5px 0;
}

.buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 20px 0 20px 0;
}

.btn {
    padding: 7px 14px 7px 14px;
    margin: 0 5px 0 5px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 13px;
    height: 16px;
    background-color: #F7F7F7;
    border-radius: 20px;
}

.yellow {
    background-color: #FFD93E;
}

.favorite-equip {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    overflow-x: scroll;
    margin-left: 33px;
}

.favorite-equip .info {
    margin: 0 9px 7px 7px;
}

/*Footer*/
footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 16px 0 25px 31px;
}

footer span {
    font-size: 12px;
    color: #858585;
    font-weight: normal;
    padding: 0 2px 0 10px;
}

.footer-right {
    margin-right: 40px;
}

/*Modal*/
.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    overflow-x: hidden;

}

.modal-content {
    width: 580px;
    background-color: #fefefe;
    margin: 15% auto 20px auto; /* 15% from the top and centered */
    padding: 25px;
    border: 1px solid #888;
    border-radius: 20px;
}

.modal-content .status {
    font-size: 14px;
    font-weight: normal;
    margin-top: -12px;
}

.modal-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 40px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.modal-buttons .btn {
    width: 279px;
    height: 46px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 8px 0 8px;
    font-size: 18px;

}

.modal-buttons .btn:hover {
    cursor: pointer
}

.modal-buttons .btn.yellow {
    background-color: #FFCD00;
}

/*Slider*/
.slidercontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 580px;
    height: 60px;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(2%, #068FFF), color-stop(51%, #FFD800), to(#F76B1C));
    background-image: -webkit-linear-gradient(left, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
    background-image: -o-linear-gradient(left, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
    background-image: linear-gradient(90deg, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
    border-radius: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #FFFFFF;
}

.slidercontainer1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 580px;
    height: 60px;
    background-image: -webkit-linear-gradient(5deg, #FFE682 2%, #FF9E00 98%);
    background-image: -o-linear-gradient(5deg, #FFE682 2%, #FF9E00 98%);
    background-image: linear-gradient(85deg, #FFE682 2%, #FF9E00 98%);
    border-radius: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #FFFFFF;
}

.slidercontainer .left-text {
    position: absolute;
    margin-left: -260px;
}

.slidercontainer .right-text {
    position: absolute;
    margin-left: 260px;
}

.slidercontainer1 .left-text {
    position: absolute;
    margin-left: -260px;
}

.slidercontainer1 .right-text {
    position: absolute;
    margin-left: 260px;
}

.slider {
    width: 580px;
    height: 60px;
    margin: 0;
    /*overflow: hidden;*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
}

input[type=range]::-webkit-slider-thumb {
    position: relative;
    width: 60px;
    height: 60px;
    -webkit-appearance: none;
    border: 3px solid rgb(231, 164, 13);
    -webkit-box-shadow: 0 0 0 3px #FFFFFF;
    box-shadow: 0 0 0 3px #FFFFFF;
    border-radius: 50%;
    background: rgb(253, 188, 7);
    cursor: pointer;

}

input[type=range]::-moz-range-thumb {
    position: relative;
    width: 54px;
    height: 54px;
    -moz-appearance: none;
    border: 3px solid rgb(231, 164, 13);
    box-shadow: 0 0 0 3px #FFFFFF;
    border-radius: 50%;
    background: rgb(253, 188, 7);
    cursor: pointer
}

input[type=range]::-ms-thumb {
    position: relative;
    width: 60px;
    height: 60px;
    border: 3px solid rgb(231, 164, 13);
    box-shadow: 0 0 0 3px #FFFFFF;
    border-radius: 50%;
    background: rgb(253, 188, 7);
    cursor: pointer;
}

input[type=range]::-moz-range-track {
    visibility: hidden;
}

/*Modal*/
.modalHead {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 27px;
}

.data {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.data .digits {
    font-size: 36px;
}

.dimmer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.dimmer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: url(./assets/background.svg), url(./assets/Oval_copy1.png); /*, url(./assets/ovalCopy.png)*/
    background-position: center center, center center; /*, 80% 80%*/
    height: 221px;
    width: 221px;
    background-repeat: no-repeat;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 66px;
    margin-top: 20px;
}

.control {
    background-image: url(./assets/Icons/icon_arrow.svg);
    height: 7px;
    width: 12px;
    position: absolute;
    -webkit-transform: rotate(110deg) translate(-4px, -86px);
    -ms-transform: rotate(110deg) translate(-4px, -86px);
    transform: rotate(110deg) translate(-4px, -86px);
}

.horizontal-scroll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    overflow-x: scroll;
}

/*Mozilla specific code*/
@-moz-document url-prefix() {
    .slidercontainer1 .left-text {
        margin-top: -49px;
        margin-left: -278px;
    }
    .slidercontainer1 .right-text {
        margin-top: -49px;
        margin-left: 242px;
    }
    .slidercontainer .left-text {
        margin-top: -42px;
        margin-left: -274px;
    }
    .slidercontainer .right-text {
        margin-top: -42px;
        margin-left: 244px;
    }
    .control{
        transform: rotate(110deg) translate(32px, 25px);
    }

}
/*@media screen and (-webkit-min-device-pixel-ratio:0){*/
/*.slidercontainer1 .left-text {*/
/*margin-top: -49px;*/
/*margin-left: -278px;*/
/*}*/
/*.slidercontainer1 .right-text {*/
/*margin-top: -49px;*/
/*margin-left: 242px;*/
/*}*/
/*.slidercontainer .left-text {*/
/*margin-top: -42px;*/
/*margin-left: -274px;*/
/*}*/
/*.slidercontainer .right-text {*/
/*margin-top: -42px;*/
/*margin-left: 244px;*/
/*}*/
/*.control{*/
/*transform: rotate(110deg) translate(32px, 25px);*/
/*}*/
/*}*/

/*--------------------------------Mobile-----------------------------*/
@media screen and (max-width: 700px) {
    header {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin: 20px;
        height: 39px;
        border: none;
    }

    header .logo {
        margin: 0;
    }

    .main {
        width: 100%;
    }

    .screen {
        margin: 0 20px 0 20px;
        display: block;
        max-width: 630px;;
        width: 90%;
        height: 282px;
        background-position: center center;
    }

    .info {
        margin: 10px;
    }

    .horizontal-scroll {
        margin-right: 20px;
    }

    .favorite-equip {
        margin-right: 5px;
    }

    .greeting {
        font-size: 18px;
    }

    .name .status {
        font-size: 12px;
    }

    .scroll {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .equip-status {
        overflow-y: inherit;
        overflow-x: scroll;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .temp .where {
        font-size: 12px;
    }

    .temp .value {
        font-size: 24px;
    }

    .cloud-drizzle {
        width: 20px;
        height: 20px;
        background-size: 20px;
    }

    .name {
        padding: 20px;
        width: 300px;
    }

    .scenarios {
        width: 100%;
        margin: 0;
    }

    .scenarios .content {
        width: 100%;
    }

    .scenarios .header {
        margin-left: 20px;
    }

    .arrow-right {
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        width: 6px;
        height: 12px;
        margin-left: 5px;
        margin-top: 3px;
    }

    .favorite .header {
        margin: -14px 0 0 20px;;
    }

    .favorite-equip {
        margin-left: 13px;
    }

    .modalHead {
        font-size: 18px;
    }

    .modal-content {
        width: 292px;
        padding: 20px;
        height: 450px;
    }

    .modal-content .status {
        font-size: 12px;
    }

    .modal-content .buttons .btn {
        font-weight: normal;
    }

    .slidercontainer1 {
        width: 60px;
        height: 336px;
        -webkit-transform: translateX(111px);
        -ms-transform: translateX(111px);
        transform: translateX(111px);
        background-image: -webkit-linear-gradient(95deg, #FFE682 2%, #FF9E00 98%);
        background-image: -o-linear-gradient(95deg, #FFE682 2%, #FF9E00 98%);
        background-image: linear-gradient(-5deg, #FFE682 2%, #FF9E00 98%);
    }

    .slidercontainer {
        width: 60px;
        height: 336px;
        -webkit-transform: translateX(111px);
        -ms-transform: translateX(111px);
        transform: translateX(111px);
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(2%, #068FFF), color-stop(51%, #FFD800), to(#F76B1C));
        background-image: -webkit-linear-gradient(bottom, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
        background-image: -o-linear-gradient(bottom, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
        background-image: linear-gradient(0deg, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
    }

    .favorite .header .text {
        margin-right: 39px;
    }

    .slider {
        width: 336px;
    }

    .slider {
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .modal-content .status {
        margin-top: 5px;
    }

    .slidercontainer1 .left-text {
        margin-left: 0;
        margin-top: 130px;
    }

    .slidercontainer1 .right-text {
        margin-left: 0;
        margin-top: -130px;
    }

    .slidercontainer .left-text {
        margin-left: 0;
        margin-top: 130px;
    }

    .slidercontainer .right-text {
        margin-left: 0;
        margin-top: -130px;
    }

    .btn {
        margin-left: 0;
        margin-right: 10px;
        display: -webkit-inline-box;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -ms-inline-flexbox;
    }

    .buttons {
        overflow-x: scroll;
        white-space: nowrap;
        margin-top: 30px;
    }

    .modal-buttons {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .modal-buttons .btn {
        width: 306px;
        margin-bottom: 20px;
    }

    .data {
        display: none;
    }

    .dimmer-container {
        height: 370px;
    }

}

@-moz-document url-prefix() {
    @media screen and (max-width: 700px) {
        .slidercontainer1 .right-text {
            margin-top: -187px;
            margin-left: -18px;
        }

        .slidercontainer1 .left-text {
            margin-top: 90px;
            margin-left: -18px;
        }

        .slidercontainer .left-text {
            margin-left: -13px;
            margin-top: 97px;
        }

        .slidercontainer .right-text {
            margin-left: -15px;
            margin-top: -178px;
        }
    }
}

@media not all and (min-resolution:.001dpcm){
    @media screen and (max-width: 700px) {
        .slidercontainer1 .right-text {
            margin-top: -187px;
            margin-left: 10px;/*-18px;*/
        }

        .slidercontainer1 .left-text {
            margin-top: 90px;
            margin-left: 10px;/*-18px;*/
        }

        .slidercontainer .left-text {
            margin-left: 18px;
            margin-top: 97px;
        }

        .slidercontainer .right-text {
            margin-left: 15px;
            margin-top: -178px;
        }
        .control{
            -webkit-transform: rotate(110deg) translate(205px, -38px);
            -ms-transform: rotate(110deg) translate(205px, -38px);
            transform: rotate(110deg) translate(205px, -38px);
        }
    }
}